*, *::before,*::after{
    box-sizing: border-box;
}

.wrapper{
    max-width:1200px;
}

body{
   font-family:poppins
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

nav li a {
    text-decoration: none;
    margin-left: 2em;
    color:#222 ;
    font-size: 1.802rem;
}

img{
    max-width: 100%;
    height: auto;
}

#sweetheart-affair .images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 15px;
    grid-template-areas: 
    "i1 i1 i2 i2"
    "i3 i3 i4 i4"; 
}

.image1 { grid-area: i1;}

.image2 { grid-area: i2;}

.image3 { grid-area: i3;}

.image4 { grid-area: i4;}
 
.sweetheart-p{
    display: block;
}

.btn{
    display: inline-block;
    padding: .8em 1em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px ;
    margin-top: auto;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

#behind-the-dough h2 {
    text-align: center;
    grid-column: span 3;
    margin-bottom: 30px;
}

#behind-the-dough .wrapper div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 40px;
}

#comments {
    background: #000;
    color: #fff;
    text-align: center;
}

#comments h2{
padding-top: 30px;
}

#comments .wrapper div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: left;
}

cite{
    display: block;
}

#flavours h2{
    text-align: center;
}

#flavours .images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

#flavours .images div {
    text-align: center;
    
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}